@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.person-container {
    display: flex;
    align-items: center;
    max-width: 260px;
    padding: 5px;
    border-radius: 60px;
    margin-bottom: 10px;
    animation-name: show;
    animation-duration: 2s;
}
.person-container.subscriber {
    background-color: #6441a4;
}
.person-container.subscriber .subscriber-icon {
    width: 50px;
}
.person-container.vip {
    background-color: #d23636;
}
.person-container.vip .vip-icon {
    width: 60px;
}
.person-container.mod {
    background-color:#14a71d;
}
.person-container.mod .mod-icon {
    width: 50px;
    border-radius: 0;
}
.person-container.subscriber .subscriber-icon,
.person-container.vip .vip-icon,
.person-container.mod .mod-icon {
    margin-left: 10px;
}
.person-container img {
    border-radius: 50%;
    display: flex;
}
.person-infos h2,
.person-infos p {
    margin: 0;
    margin-left: 10px;
    color: white;
    font-family: 'Turret Road', cursive;
}
.person-infos h2 {
    font-size: 1.2rem;
}